﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/admin.Master" CodeBehind="kemaskini.semak.semula.aspx.vb" Inherits="apkv_v2_admin.kemaskini_semak_semula" %>

<%@ Register Src="~/commoncontrol/kemaskini_semak_semula.ascx" TagPrefix="uc1" TagName="kemaskini_semak_semula" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:kemaskini_semak_semula runat="server" id="kemaskini_semak_semula" />
</asp:Content>
